.error {
    background-color: rgb(252, 98, 98);
    width: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
    p {
        margin: 10px;
        color: #fff;
        font-weight: bold;
    }

}